body {
  background-color: black !important;
}

li {
  list-style-type: none;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.navline{
  display: inline;
}

.thing-container {
  width: 100%;
  display: flex;
  justify-content: center;

}

.medium-container {
  margin-right: 21px;
}

.medium-container img {
  height: 250px;
}

.medium-container .medium-subtitle {
  font-size: 20px;
  color: #fff;
}

.medium-container .medium-title {
  font-size: 14px;
  color: #fff;

}